<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.magic.ereal.business.mapper.IAdminRoleMapper">



    <insert id="batchAddAdminRole">
        INSERT INTO `admin_role` (`roleId`,`userId`)
        VALUES
        <foreach collection="adminRoles" index="index" item="adminRole" separator=",">
            (#{adminRole.roleId},#{adminRole.userId})
        </foreach>
    </insert>

</mapper>