<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.magic.ereal.business.mapper.ITransactionTypeMapper">

    <select id="list" resultType="com.magic.ereal.business.entity.TransactionType">
        select * from transactiontype
    </select>

    <insert id="save" parameterType="com.magic.ereal.business.entity.TransactionType">
        insert into transactiontype (transactionName) values (#{transactionName})
    </insert>

    <update id="update" parameterType="com.magic.ereal.business.entity.TransactionType" >
        update transactiontype set transactionName = #{transactionName} where id = #{id}
    </update>

</mapper>